@import "tailwindcss";
@theme {
  --color-primary: #0063cd;
  --color-primary-hover: #005bb5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1rem;
}


.btn-primary {
  @apply cursor-pointer bg-primary text-white py-2 px-6 rounded-md hover:bg-primary-hover transition-colors duration-300;
}


.btn-secondary {
  @apply cursor-pointer border-1 border-gray-500 rounded-md px-6 py-2 hover:bg-gray-100 transition-colors duration-300
}