@import "tailwindcss";
@theme {
  --color-primary: #0063cd;
  --color-primary-hover: #005bb5;
}

@layer utilities {
  .font-work-sans {
    font-family: var(--font-work-sans), sans-serif;
  }

  .blue-container {
    @apply bg-primary w-full min-h-[540px] flex justify-center items-center flex-col py-10 px-6;
  }

  .heading {
    @apply uppercase bg-black p-6 text-white font-extrabold text-2xl sm:text-5xl leading-[46px] sm:leading-[64px] text-center my-5 mx-auto max-w-full break-words;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }

  /* .tag {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
  } */

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-gray-100 text-sm font-normal;
  }

  .btn-primary {
    @apply cursor-pointer bg-primary text-white py-2 px-6 rounded-md hover:bg-primary-hover transition-colors duration-300;
  }

  .btn-secondary {
    @apply cursor-pointer border-1 border-gray-500 rounded-md px-6 py-2 hover:bg-gray-100 transition-colors duration-300;
  }

  /* profile */
  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-sm rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  /* .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-100;
  } */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1rem;
}
